.logo {
  cursor: pointer;
  width: 48.7px;
  height: 34.78px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-right: auto;
}

.logo_item1 {
  background-color: var(--violet);
  width: 19.88px;
  height: 19.88px;
  border-radius: 50%;
  transition: background-color 0.5s;
}

.logo_item2 {
  background-color: var(--pink);
  width: 19.88px;
  height: 34.78px;
  border-radius: 20px;
  transition: background-color 0.5s;
}

.colorSwap {
  background-color: var(--pink) !important;
}
.colorSwap1 {
  background-color: var(--violet) !important;
}

.loading {
  cursor: none;
  flex-direction: row-reverse;
}
