.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.pagination button {
  background-color: var(--gray);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}
.pagination button:hover {
  background-color: var(--violet);
  color: white;
}
