.main_header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 35px;
}
.query {
  width: 100%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2%;
}
.query input {
  padding: 12px 20px;
  border: 1px solid var(--text-color);
  border-radius: 6px;
}

.query input:placeholder {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  text-align: left;
}
.query select {
  font-size: 15px;
  background-color: transparent;
  color: #333;
  border: 1px solid var(--text-color);
  padding: 12px 20px;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
}

.query select:hover {
  background-color: #f0f0f0;
}

.query select:focus {
  background-color: #e8e8e8;
}

.query select option {
  background-color: #fff;
  color: #333;
}

/* Tùy chỉnh màu nền và màu chữ khi hover trên option */
.query select option:hover {
  background-color: #f0f0f0;
  color: #333;
}

/* Sử dụng media queries để điều chỉnh giao diện cho các kích thước màn hình khác nhau */
@media (max-width: 768px) {
  .main_header {
    margin-top: 20px;
    gap: 20px;
  }
  .query {
    grid-template-columns: 1fr; /* Sắp xếp các thành phần theo chiều dọc */
  }

  .query input,
  .query select {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px 8px;
    /* Thêm khoảng cách giữa các thành phần */
  }
}
