.galleries {
  margin-top: 120px;
  background-color: var(--violet);
  border-radius: 50px;
  padding: 84px;
  position: relative;
}
.title {
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: white;
  margin-bottom: 84px;
}
.carousel {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}
.left {
  top: 50%;
  left: 35px;
  transform: translateY(50%);
}
.right {
  top: 50%;
  right: 35px;
  transform: translateY(50%);
}
.icon {
  fill: white;
}
.button-arrow {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}
.nodata {
  width: 100%;
  border-radius: 30px;
  height: 300px;
}
.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}
.radio-background {
  background-color: var(--pink); /* Màu nền của radio button */
  padding: 5px;
  border-radius: 50%; /* Đảm bảo radio button là hình tròn */
}

/* Hiển thị radio button được chọn */
.radio:checked + .radio-background .radio-inner {
  display: block;
}
.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-input {
  margin-right: 5px;
}

.radio-background {
  background-color: white; /* Màu nền của radio button */
  padding: 5px;
  border-radius: 50%; /* Đảm bảo radio button là hình tròn */
}

/* Ẩn radio button thực sự */
.radio-input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Tạo một hình tròn nhỏ bên trong radio button */
.radio-inner {
  width: 12px;
  height: 12px;
  background-color: var(--pink); /* Màu nền của radio button được chọn */
  border-radius: 50%;
}

/* Hiển thị radio button được chọn */
.radio-input:checked + .radio-background .radio-inner {
  display: block;
}

.icon {
  font-size: 40px;
}
/* Responsive cho các kích thước màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  .galleries {
    padding: 40px; /* Giảm padding cho thành phần galleries */
  }

  .title {
    font-size: 30px; /* Giảm kích thước tiêu đề */
    margin-bottom: 60px; /* Giảm margin-bottom cho tiêu đề */
  }

  .carousel-buttons {
    align-items: center; /* Căn chỉnh nút chuyển slide vào giữa */
  }
  .button-arrow {
    position: relative;
  }

  .left,
  .right {
    position: static; /* Bỏ thuộc tính position: absolute */
    margin-top: 10px; /* Tăng khoảng cách giữa nút chuyển slide */
    margin-bottom: 10px; /* Tăng khoảng cách giữa nút chuyển slide */
    transform: translate(0, 10%);
  }
  .indicators {
    margin-top: 10px;
    gap: 10px;
  }
  .icon {
    font-size: 28px;
  }
}

/* Responsive cho các kích thước màn hình nhỏ hơn hoặc bằng 480px */
@media (max-width: 480px) {
  .title {
    font-size: 24px; /* Giảm kích thước tiêu đề */
    margin-bottom: 40px; /* Giảm margin-bottom cho tiêu đề */
  }

  .carousel-buttons {
    padding: 0 20px; /* Tăng padding cho nút chuyển slide */
  }

  .left,
  .right {
    margin-top: 5px; /* Tăng khoảng cách giữa nút chuyển slide */
    margin-bottom: 5px; /* Tăng khoảng cách giữa nút chuyển slide */
  }
  .icon {
    font-size: 22px;
  }
}
