.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.navbar {
  width: 200px;
  background-color: var(--gray);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 11;
  animation: slideRight 0.3s ease-out;
}
.header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.005em;
  text-align: left;
}
@media (min-width: 1180px) {
  .backdrop {
    display: none;
  }
  .navbar {
    display: none;
  }
}
@keyframes slideRight {
  0% {
    left: -100%; /* Khi bắt đầu animation, slider ở vị trí ban đầu */
  }
  100% {
    left: 0; /* Khi kết thúc animation, slider dời sang phải đến cuối cùng */
  }
}
