table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
table th {
  padding: 10px;
  text-align: center;
  background-color: var(--gray);
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  margin-bottom: 20px;
}
table td {
  padding: 5px;
  text-align: center;
  border: 1px solid var(--text-color);
  background-color: var(--gray);
}

table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
table button:first-child {
  margin-right: 30px;
}
/* table tr td:first-child {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
} */
