.features {
  margin: 164px auto 0 auto;
}
.features_header {
  margin: 0 auto 68px auto;
  text-align: center;
  width: 50%;
}
.features_title {
  color: var(--text-color-2);
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 50px;
}
.features_desc {
  font-family: Avenir, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.features_content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* Responsive cho màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
  .features_header {
    width: 80%; /* Giảm chiều rộng của features_header */
    margin-bottom: 40px; /* Giảm margin bottom */
  }
  .features_content{
    gap: 30px;
  }
  .features_title {
    font-size: 32px; /* Giảm kích thước font cho tiêu đề */
    line-height: 42px; /* Giảm line height cho tiêu đề */
    margin-bottom: 30px; /* Giảm margin bottom */
  }

  .features_desc {
    font-size: 16px; /* Giảm kích thước font cho mô tả */
    line-height: 26px; /* Giảm line height cho mô tả */
  }
}

/* Responsive cho màn hình nhỏ hơn hoặc bằng 576px */
@media (max-width: 576px) {
  .features {
    margin-top: 100px; /* Giảm margin top */
  }

  .features_header {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
  }

  .features_title {
    font-size: 24px; /* Giảm kích thước font cho tiêu đề */
    line-height: 32px; /* Giảm line height cho tiêu đề */
    margin-bottom: 20px; /* Giảm margin bottom */
  }

  .features_desc {
    font-size: 14px; /* Giảm kích thước font cho mô tả */
    line-height: 22px; /* Giảm line height cho mô tả */
  }

  .features_content {
    grid-template-columns: 1fr; /* Hiển thị mỗi phần tử trên một hàng */
    gap: 20px; /* Giảm khoảng cách giữa các phần tử */
  }
}