.footer {
  margin-top: 90px;
  width: 100%;
  border-top: 2px solid var(--violet);
  padding: 100px 0;
  position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  font-family: Avenir, Arial, sans-serif;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 100%;
  max-width: 400px;
  margin-bottom: 80px;
}
.col2 {
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 30px;
  margin-bottom: 30px;
}

.name {
  font-size: 20px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
}

.address,
.info,
.coppyRight {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 30px;
}

.title {
  font-size: 16px;
  font-weight: 900;
  line-height: 25.6px;
  text-align: left;
  margin-bottom: 20px;
}

.footer a {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.circle {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(156, 105, 226, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle svg {
  fill: var(--violet);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .col1 {
    align-items: center;
    text-align: center;
  }

  .box {
    justify-content: center;
  }
  .col2 {
    flex-direction: row;
    gap: 10px;
  }
  .circle {
    margin-top: 20px;
    margin-left: auto;
  }
}
