.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  border-radius: 50px;
  background-color: #fff;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.carousel-item-text {
  font-size: 1.15rem;
  white-space: normal;
  color: #617d98;
}
.carousel-img {
  width: 250px;
  padding: 0 20px 0 20px;
}
@media (max-width: 872px) {
  .content {
    flex-direction: column;
  }
  .carousel-img {
    width: 80%;
    height: auto;
  }
  .carousel-item-text {
    font-size: 16px;
  }
}
