.carousel-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  height: auto;
  border-radius: 50px;
  background-color: #fff;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}
.carousel-img {
  width: 100%;
  padding: 0 20px 0 20px;
}
@media (max-width: 728px) {
  .carousel-item {
    grid-template-columns: 1fr;
  }
}
