.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 50px;
  background-color: #fff;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}
.carousel-img {
  width: 250px;
  padding: 0 20px 0 20px;
}
