.login_container {
  height: 100vh;
}
.header {
  width: 1120px;
  margin: 62px auto 0 auto;
  display: flex;
  justify-content: start;
}

.form_login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 102.4px;
  letter-spacing: 0.005em;
  text-align: left;
  margin-bottom: 28px;
}

.sign_in {
  background-color: var(--violet);
  color: white;
  border: none;
  box-shadow: 0px 5px 5px 0px #4b5d681a;
  width: 100%;
  padding: 13px 0;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_inhover {
  opacity: 0.9;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
  .form_login {
    width: 80%;
    top: 30%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }
}