:root {
  --text-color: #4b5d68;
  --violet: rgb(156, 105, 226);
  --pink: rgb(240, 99, 184);
  --screen-size: 1120px;
  --text-color-2: #212353;
  --green: rgb(104, 201, 186);
  --blue: rgb(45, 156, 219);
  --gray: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  color: var(--text-color);
  line-height: 1.6;
  box-sizing: border-box;
}
.main {
  width: var(--screen-size);
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1280px) {
  .main{
    width: 90%;
  }
}
@media (max-with:680px){
  .main{
    width: 100%;
    padding: 0 15px;
  }
}